<html>
        <head>
                <title>Template Inheritance Example</title>
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                 rel="stylesheet">	
	</head>
        <body>
                <h1>Find the matching icon:</h1>
		<span class="material-icons"i>change_history</span>
                <h2>With a subtitle</h2>
		<form action="/secondScreen">
 			 <input type="checkbox" id="icon1" name="icon1" value="Bike">
 			 <label for="vehicle1">
				 <span class="material-icons">change_history</span>
			 </label>
			 <br>
 			 <input type="checkbox" id="icon2" name="icon2" value="Car">
 			 <label for="vehicle2">
				 <span class="material-icons">favorite_border</span>
			 </label>
			 <br>
 			 <input type="checkbox" id="icon3" name="icon3" value="Boat">
 			 <label for="vehicle3">
				 <span class="material-icons md-48">face</span>
			 </label>
			 <br>
			 <br>
 			 <input type="submit" value="Submit">
		</form>

	 </body>
<html>
