<html>
        <head>
                <title>End of serie message</title>
                <meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/cssWelcome.css" rel="stylesheet"/>
	</head>
        <body>
		      <h1 class="title">Well done!</h1>
                
	<form action="#" method="post" name="form">           
	  <button class="button" type="submit">Next serie</button>
  </form>
                
        </body>
<html>
