<html>
        <head>
                <title>Template Inheritance Example</title>
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script type="text/javascript" src="../static/js/myscripts.js"></script>
	</head>
        <body>
                <h1>Find the matching icon:</h1>
		<img src="/static/img/triangle.png"/>
                <h2>With a subtitle</h2>
		
			<a href="scndScreen">
			<img src="/static/img/triangle.png"/>
			</a>
			<a href="#">
			<img src="/static/img/heart.png"/>
			</a>
			<a href="#">
			<img src="/static/img/up_arrow.png"/>
			</a>
			<a href="#">
			<img src="/static/img/square.png"/>
			</a>

			 <br>
			 <br>
			 <input type="submit" value="Submit">
		
	

	 </body>
</html>
