<html>
        <head>
                <title>Template Inheritance Example</title>
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/cssScreen.css" rel="stylesheet"/>
	</head>
        <body>
                <h1>1. Triangles</h1>
		<i class="material-icons md-200">change_history</i>
                <h2>Find the match</h2>
		
			<a href="scndScreen">
				<i class="material-icons md-200">change_history</i>
			</a>
			<a href="#">
				<i class="material-icons md-200">favorite</i>
			</a>
			<a href="#">
				<i class="material-icons md-200">arrow_right_alt</i>
			</a>
			<a href="#">
				<i class="material-icons md-200">crop_din</i>
			</a>

			 <br>
			 <br>
				
	

	 </body>
</html>
