body{
background-color:#FFB482;
margin:5% 10%;
}

h1{
font-size:7em;
font-family:'Leckerli One', cursive;
}

/*icon sizing*/

.material-icons.md-200 { 
font-size:200px; 
}

a:-webkit-any-link{
text-decoration:none;
color:inherit;
}

p{
font-size:3em;
background-color:red;

text-align:center;
}
