body{
background-color:#FFB482;
margin:5% 10%;
}

h1{
font-size:7em;
font-family:'Leckerli One', cursive;
background-image: linear-gradient(to left, orange, white);
-webkit-background-clip:text;
-moz-background-clip:text;
background-clip:text;
color:transparent;
}

/*icon sizing*/

.material-icons.md-200 { 
font-size:200px; 
}

.material-icons.blue{
color:blue;
}

.material-icons.md-light{
color:rgba(255.255.255.1);
background-color:black;
}


a:-webkit-any-link{
text-decoration:none;
color:inherit;
}

p{
font-size:3em;
background-color:#ff5454;
text-align:center;
border-radius:10px;
width:50%;
margin:80px auto;
}
