body{
background-color:#FFB482;
padding:0% 10%;
}

.title{
            color:#3354A0;
            font-size:7em;
            font-color:37559C;
            font-family:'Leckerli One', cursive;
            text-align:center;
            width:100%;
	    padding-top:10%;
            padding-bottom:10%;
    }
	    label{
font-family:'Itim',cursive;
font-size: 30px;
                }

		input{
		margin:20px 50px;
		border-radius:7px;
		height:40px;
		}

	       .button{
	       font-family:'Itim', cursive;
	       background-color:37559C;
	       color:white;
	       font-size:40px;
	       cursor:pointer;
	       margin:50px auto;
	       display:block;
	       padding:20px;
	       text-align:center;
	       border-radius:50px;

	       }	
